@import 'colors';
@import 'media-queries';
@import 'navbar';
@import '_contact';

$color:aqua;
$color2:whitesmoke;


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $color;
}
.form{
    background-color: $color;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    input{
         box-sizing: border-box;
         padding: 10px;
         margin: 10px;

    }

}



