@import 'navbar';
@import '_contact';
@import '_shop';
@import'_base';
@import 'form';


* {
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  
}
html{
  body{
    background-color: black;
  }
}

